<section class='bg-half bg-light d-table w-100'>
	<div class='container'>
		<div class='row justify-content-center'>
			<div class='col-lg-12 text-center'>
				<div class='page-next-level'>
					<h4 class='title'> Danh sách ứng viên </h4>
					<div class='page-next'>
						<nav aria-label='breadcrumb' class='d-inline-block'>
							<ul class='breadcrumb bg-white rounded shadow mb-0'>
								<li class='breadcrumb-item'><a href='/'>Trang chủ</a></li>
								<li class='breadcrumb-item'><a
										href='/companies/{{isEmployer.meta}}'
									>{{isEmployer.name}}</a></li>
								<li class='breadcrumb-item active' aria-current='page'>Danh sách ứng tuyển</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!--end col-->
		</div><!--end row-->
	</div>
	<!--end container-->
</section><!--end section-->

<div class='position-relative'>
	<div class='shape overflow-hidden text-white'>
		<svg viewBox='0 0 2880 48' fill='none' xmlns='http://www.w3.org/2000/svg'>
			<path
				d='M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z'
				fill='currentColor'
			></path>
		</svg>
	</div>
</div>

<section class="section">
    

    <div class="container my-3">

        <a class="btn btn-success" href="/companies/my-company/recruitment">Đăng tuyển</a>
        <a class="btn btn-success" href="/companies/my-company/jobs">Danh sách công việc đã đăng</a>
        <h4 class="my-5 text-primary text-center text-uppercase">Danh sách công việc</h4>
        <table class="table table-striped border">
            <thead>
            <tr>
                <th>STT</th>
                <th>Tên ứng viên</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>CV</th>
                <th>Cover letter</th>
                <th>Thời gian</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
            </tr>
            </thead>
            <tbody>
                {{#each candidates}}
                    <tr>
                        <td>{{@index}}</td>
                        <td><a href="/user/{{_id}}">{{name}}</a></td>
                        <td>{{phone}}</td>
                        <td>{{email}}</td>
                        <td><a href="{{cv}}">Nhấn vào để xem</a></td>
                        <td>{{{coverLetter}}}</td>
                        <td>{{formatDate updatedAt 'YYYY-MM-DD'}}</td>
                        <td>
                            {{#if (equals 'pending' status)}}
                                <span class="text-warning">Đang chờ</span> 
                            {{else}}  
                                {{#if (equals 'rejected' status)}}
                                    <span class="text-danger">Đã từ chối</span> 
                                {{else}}
                                    <span class="text-success">Đã duyệt</span> 
                                {{/if}}
                            {{/if}}
                        </td>
                        <td class="d-flex">
                            {{#if (equals 'pending' status)}}
                                <form action="/jobs/{{jobId}}/confirm" method="post">
                                    <input type="hidden" name="formId" value="{{_id}}">
                                    <input type="hidden" name="email" value="{{email}}">
                                    <button type="submit" class="btn btn-sm btn-outline-success">Duyệt</button>
                                </form>
                                <form action="/jobs/{{jobId}}/reject" method="post">
                                    <input type="hidden" name="formId" value="{{_id}}">
                                    <input type="hidden" name="email" value="{{email}}">
                                    <button type="submit" class="btn btn-sm btn-outline-danger">Từ chối</button>
                                </form>
                            {{/if}}
                        </td>
                    </tr>
                </div>
                {{else}}
                    <p>Chưa có công việc nào!</p>
                {{/each}}
            </tbody>
        </table>

        {{#if jobs}}
            <!-- PAGINATION START -->
                <div class='col-12'>
                {{> pagination
                    paginationClass="pagination mb-0"
                    hasPreviousPage=hasPreviousPage
                    previousPage=previousPage
                    showStartEllipsis=showStartEllipsis
                    pages=pages
                    baseUrl=baseUrl
                    hasNextPage=hasNextPage
                    nextPage=nextPage
                }}
            </div><!--end col-->
            <!-- PAGINATION END -->
        {{/if}}
    </div>
</section>



